<!DOCTYPE html>
<html>
  <head>
    <title>Vuvuzetla</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <div class="content">
        <h1><a href="#">Vuvuzetla</a></h1>
        <p>
          Anonymous geolocalized messages<br />
          Visible as far as you can hear a vuvuzella
        </p>
        <ul class="actions">
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=ch.vuvuzetla.application"
              class="button primary icon solid fa-download"
              >Download</a
            >
          </li>
          <li>
            <a href="#one" class="button icon solid fa-chevron-down scrolly"
              >Learn More</a
            >
          </li>
        </ul>
      </div>
      <div class="image phone">
        <div class="inner"><img src="images/screen.jpg" alt="" /></div>
      </div>
    </header>

    <!-- One -->
    <section id="one" class="wrapper">
      <header class="major">
        <h2>Create by</h2>
      </header>
      <div class="inner alt">
        <section class="spotlight">
          <div class="image">
            <img src="images/a_b0fd080bdd2b1a5717aec0514d2aa992.png" alt="" />
          </div>
          <div class="content">
            <h3>Deltora</h3>
            <p>Wow master</p>
          </div>
        </section>
        <section class="spotlight">
          <div class="image">
            <img src="images/0aad4f2c607010bf06f7e73b20b20fa0.png" alt="" />
          </div>
          <div class="content">
            <h3>Dr. Suce©</h3>
            <p>Makes interestting art.</p>
          </div>
        </section>
        <section class="spotlight">
          <div class="image">
            <img src="images/25743a0cdf8f5f148b8865ce480d720e.png" alt="" />
          </div>
          <div class="content">
            <h3>jojoc4</h3>
            <p>Golden cuck.</p>
          </div>
        </section>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <!--
      <ul class="icons">
        <li>
          <a href="#" class="icon brands fa-facebook-f"
            ><span class="label">Facebook</span></a
          >
        </li>
        <li>
          <a href="#" class="icon brands fa-twitter"
            ><span class="label">Twitter</span></a
          >
        </li>
        <li>
          <a href="#" class="icon brands fa-instagram"
            ><span class="label">Instagram</span></a
          >
        </li>
      </ul>
	  -->
      <p class="copyright">
        &copy; Vuvuzetla 2022 - Hosting kindly provided by
        <a href="https://host-free.ch">host-free</a>
      </p>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
